<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>KUROWARE 근태관리</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
<link th:href="@{/assets/img/favicon.png}" rel="icon">
<link th:href="@{/assets/img/apple-touch-icon.png}"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
	rel="stylesheet">
<link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
<link th:href="@{/assets/vendor/quill/quill.bubble.css}"
	rel="stylesheet">
<link th:href="@{/assets/vendor/remixicon/remixicon.css}"
	rel="stylesheet">
<link th:href="@{/assets/vendor/simple-datatables/style.css}"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
<link th:href="@{/assets/css/style3.css}" rel="stylesheet">

<!-- data table -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<style>
hr#hr1 {
	margin: 0;
	padding: 0;
}
h3.card-title{	
	font-weight : bold;
}

#card{
	width : 1000px;
}
div.employ-contract-top{
	margin-top : 20px;
	font-weight : bold;
}
div.employ-contract-bottom{
	margin-bottom : 20px;
}
span.atmark{
	background-color: #ffe6a7;
	padding: 0.20rem 0.2rem;
	text-transform: uppercase;
	border: none;
	border-radius: 1rem;
}
div.contractDate{
	margin-top : 40px;
	margin-bottom : 40px;
	text-align: center;
}
div.yourpayment{
	margin-top : 10px;
	padding-left : 50px;
	margin-bottom : 10px;
}
div.employerAndemployeeInfo {
  width: 100%;
  min-width: 500px;
}

table.employerInfo{
	display :  inline-block;
	width : 460px;
}
table.employerInfo th{
	width : 13%;
}
table.employerInfo td{
	width : 24%;
}

table.employeeInfo{
	display :  inline-block;
	width : 460px;
}
table.employeeInfo th{
	width : 20%;
}
table.employeeInfo td{
	width : 31%;
}
</style>

<!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	<header th:replace="/indexcommon/header :: header"></header>
	<!-- End Header -->
	<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="text-center">
      	<span th:if="${employee.employee_photo} == null"><img th:src="@{/image/default_photo.png}"></span>
        <span th:if="${employee.employee_photo} != null"><img th:src="@{/assets/upload/photo/} + ${employee.employee_photo}" alt="Profile" class="rounded-circle" width="180px"></span>
      </li>
      
      <li class="text-center">
      	<h4 th:text="${employee.employee_name}"></h4>
		<h6 th:text="${employee.organization}"></h6>
      </li>
    	<hr>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>HOME</span>
        </a>
      </li><!-- End homepage Nav -->
      
      <li class="nav-heading">Pages</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employee/mypage}">
          <i class="bi bi-person"></i>
          <span>마이페이지</span>
        </a>
      </li><!-- End 마이페이지 Page Nav -->
      
      <!-- start 근태관리 nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#working-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-week"></i><span>근태관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="working-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/management/attendance}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 기록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/timerecord}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 전체보기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/dayoff}">
              <i class="bi bi-heart-fill"></i><span>휴무 신청</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/salary}">
              <i class="bi bi-coin"></i><span>급여 정산서</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/contract}">
              <i class="bi bi-file-earmark-spreadsheet"></i><span>근로 계약서</span>
            </a>
          </li>
        </ul>
      </li><!-- 근태관리 End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>메일함</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mailbox/write}">
              <i class="bi bi-pencil-square"></i><span>메일 쓰기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/readAll}">
              <i class="bi bi-envelope-open"></i><span>전체 메일함</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/sentMailbox}">
              <i class="bi bi-arrow-right-circle"></i><span>보낸 메일함</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>프로젝트</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
	    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
	    	<li>
	    		<a th:href="@{/project/create}">
	    			<i class="bi bi-circle"></i><span>프로젝트 생성</span>
	    		</a>
	    	</li>
			<li>
	            <a th:href="@{/project/main}">
					<i class="bi bi-circle"></i><span>프로젝트 메인페이지</span>
	            </a>
			</li>
		</ul>
	 </li><!-- End Forms Nav -->
	 
	  <!-- start 전자결재 nav -->
	   <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/draft/main}">
          <i class="bi bi-journal-text"></i>
          <span>전자결재</span>
        </a>
       </li><!-- End 전자결재 nav -->
       
       <li class="nav-item">
        
      </li><!-- End Blank Page Nav -->
       
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link collapsed" th:href="@{/board/companynotice}">
	          <i class="bi bi-exclamation-triangle-fill"></i><span>전사공지</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/board/programboard}">
	          <i class="bi bi-dropbox"></i><span>사내소프트웨어</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/freeboard/list}">
	          <i class="bi bi-card-list"></i><span>자유게시판</span>
	        </a>
          </li>
        </ul>
      </li><!-- End 게시판 Nav -->

	<hr>

	<li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/logout}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그아웃</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>근태관리</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
					<li class="breadcrumb-item active">근로 계약서</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->


		<section class="section">
			<div class="row align-items-top">
				<div class="col-lg-6">



					<!-- Card with header and footer -->
					<div class="card" id="card">
						<div class="card-header">
						<span th:text="${employee.organization}"></span>
						<span th:text="${employee.position_type}"></span>
						<span th:text="${employee.employee_name}"></span>
						</div>
						
						
						<div class="card-body">
							<h3 class="card-title">근로 계약서</h3>
						<hr>
							<div class="employ-contract-bottom">
							<span class="atmark" th:text="${company.company_name}"></span>(이하 "A"라 한다.) 
							<span class="atmark" th:text="${employee.employee_name}"></span>(이하 "B"라 한다.)은(는) 다음과 같이 근로계약을 체결하고, 이를 상호 성실히 준수할 것을 약속하며 서명날인합니다.
							</div>
							
							<div class="employ-contract-top">
							제 1조 (근로계약기간)</div>
							<div class="employ-contract-bottom">
							근로계약기간은 <span class="atmark" th:text="${employee.hiredate}"></span>부터 기간의 정함이 없는 근로계약을 체결하기로 한다. "A"는 근로의 대가로 제 2조에서 정한 연봉을 지급한다.
							</div>
							
							<div class="employ-contract-top">
							제 2조(연봉계약기간 및 연봉)</div>
							<div class="employ-contract-bottom">
							"갑"은 "을"의 근로에 대한 대가로 본 연봉계약 기간 동안 다음과 같은 금액을 지불한다.
							<div class="yourpayment">
							기본급 : <span class="atmark" th:text="${company.company_name}"></span><br>
							퇴직금 : <span class="atmark" th:text="${company.company_name}"></span><br>
							직책수당 : <span class="atmark" th:text="${company.company_name}"></span><br>
							정기상여금 : 기본급의 200%를 연 3회(2월, 7월, 10월) 지급한다.<br>
							초과근무수당 : <span class="atmark" th:text="${company.company_name}"></span>
							식대 : <span class="atmark" th:text="${company.company_name}"></span><br>
							</div>
							</div>
							
							<div class="employ-contract-top">
							제 3조(임금지급일)</div>
							<div class="employ-contract-bottom">
							매월 1일부터 기산하여 당원 말일 마감하여 익월 <span class="atmark" th:text="${employee.employee_name}"></span>일 지급한다.
							</div>
							
							<div class="employ-contract-top">
							제 4조 (근로시간 및 휴게)</div>
							<div class="employ-contract-bottom">
							① 근로시간은 1일 8시간, 주 40시간으로 한다. 다만, 파견근무의 경우 파견근무지의 규정에 따른다.<br>
							② 시업시간은 <span class="atmark" th:text="${company.company_name}"></span>시,
							 종업시간은 <span class="atmark" th:text="${company.company_name}"></span>시로 한다.<br>
							③ 휴게시간은 근로시간 내의 1시간으로 한다.<br>
							④ 제 3항의 당사자 "A"와 "B"의 합의에 따라 법정한도 내에서 연장근로 할 수 있다.<br>
							</div>
							
							<div class="employ-contract-top">
							제 5조(직종, 전직)</div>
							<div class="employ-contract-bottom">
							"A"는 경영상의 필요, 업무수행능력, 적격성 등 제반 사정을 고려하여 "B"로 하여금 전항의 업무 이외의 업무를 담당하게 할 수 있다.
							</div>							
							
							<div class="employ-contract-top">
							제 6조(비밀유지의무)</div>
							<div class="employ-contract-bottom">
							① "B"이 업무와 관련하여 취득한 사항은 본 계약기간 중은 물론 본 계약 종료 후에도 제 3자에게 누설하여서는 아니 된다.<br>
							② "B"은 "A"과 본 계약을 체결한 전후를 불문하고 "A"과의 사이에서 합의된 연봉 및 근로조건 일체를 누구에게든지 어떤 명목으로든지 공개하여서는 아니 된다. <br>
							</div>
							
							<div class="contractDate"> 
							<span class="atmark" th:text="${company.company_name}"></span>년 
							<span class="atmark" th:text="${company.company_name}"></span>월 
							<span class="atmark" th:text="${company.company_name}"></span>일 
							</div>
							
							<div employerAndemployeeInfo>
							<table class="employerInfo">
								<tr>
									<th>(사업주)</th>
									<th>사업체명 : </th>
									<td colspan="2"><span th:text="${company.company_name}"></span></td>
								</tr>
								<tr>
									<th></th>
									<th>전화 : </th>
									<td colspan="2">02-4562-8890</td>
								</tr>
								<tr>
									<th></th>
									<th>주소: </th>
									<td colspan="2"><span th:text="${company.company_name}"></span></td>
								</tr>
								<tr>
									<th></th>
									<th>대표자 : </th>
									<td><span th:text="${company.company_ceo_name}"></span></td>
									<td>(인)</td>
								</tr>
							</table>
							
							<table class="employeeInfo">
								<tr>
									<th>(근로자)</th>
									<th>주소: </th>
									<td colspan="3"><span th:text="${employee.employee_name}"></span></td>
								</tr>
								<tr>
									<th></th>
									<th>연락처: </th>
									<td colspan="3"><span th:text="${employee.employee_name}"></span></td>
									<td></td>
								</tr>
								<tr>
									<th></th>
									<th>성명 : </th>
									<td><span th:text="${employee.employee_name}"></span></td>
									<td>(인)</td>
								</tr>
								<tr>
									<th colspan="4" style="color : white;">.</th>									
								</tr>
					
							</table>
						</div>
														
						</div>
						<div class="card-footer"></div>
					</div>
					<!-- End Card with header and footer -->
				</div>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
	<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
	<script
		th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- 제이쿼리, 에이젝스 -->
	<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

	<script>
	$(document).ready(function() {
		$('#dataTable').DataTable();
	});
  </script>
</body>

</html>