<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://thymeleaf.org"
				 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KUROWARE 근태관리</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  <link th:href="@{/assets/css/style3.css}" rel="stylesheet">
  
<style>
hr#hr1 {
  		margin : 0;
  		padding : 0;
}
h3.title{
	color : #798EB3;
	margin : 20px 0 30px 0;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	text-align: center;
}
#card{
	width : 800px;
	text-align: center;
	margin : auto;
}

table.changform{
	margin : auto;
	height : 50px;
	width : 600px;
}
table.changform th, table.changform td{
	border: 1px solid #b8bbc1;
	border-collapse : collapse;
	padding : 8px;
}
table.changform th{
	background-color: #ebebeb;
	width : 30%;
}
table.changform td.days{
	text-align: right;
}
#checkButton{
	background-color: #fdd10d;
	color: white;
	padding: 0.40rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}
#sendButton{
	background-color: #f7a62b;
	color: white;
	padding: 0.40rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}

#resetButton{
	background-color: gray;
	color: white;
	padding: 0.40rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}
div.buttonbox{
	margin : 30px 0 40px 0;
}
input[type="date"]{
	width : 140px;
	text-align: center;
}
#dayOffType{
	width : 440px;
	text-align: center;
	border-style: none;
}

input:focus, textarea:focus{
    outline: none !important;
    background-color: #edf2f4;
   
}  

input, textarea{
	border-style: none;
}
#calc{
	background-color: #fdd10d;
	color: white;
	padding: 0.20rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 5rem;
}
  	
</style>

<!-- 제이쿼리, 에이젝스 -->
<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function(){

       	$('#calc').on('click', function(){
       	    let endDate = document.getElementById("dayoffend").value;
       	    let startDate = document.getElementById("dayOffstart").value;
       		
       	    console.log(endDate);
       	    console.log(startDate);
       	    
       	    if(endDate < startDate){
       	    	alert('올바른 날짜를 지정해주세요.');
       	    }else{
       	    	
       	    	var arr1 = endDate.split('-');
       	    	var arr2 = startDate.split('-');
       	    	
           	    console.log(arr1[2]);
           	    console.log(arr2[2]);
           	    
               	let sum1 = Number(arr1[2]) - Number(arr2[2]) + 1;
	            document.getElementById("confirmed_vacation_days").innerHTML = sum1;
   		            
	            $('#checkButton').on('click', function(){    
		        		$.ajax({
		        			url: 'vacation',
		        			type: 'post',
		        			dataType: 'json', 
		        			success: function(data){
		        				
		        				let a = data.vacation_annual_all;
		        				let b = data.vacation_annual_minus;
		        				
		        				let sum2 = Number(a) - Number(b) - sum1;
		        				
		        				console.log(data);
		        				$('#target1').text(a);
		        				$('#target2').text(b);
		        				$('#target3').text(sum2);


		        			},
		        			error: function(){
		        				alert('데이터가 없습니다.');
		        			}
		        		});
		                
	                });
	            }
       		    
        		
        	});
       	
        	sendButton.onclick = function(){
        		let opinion = document.getElementById('confirmed_vacation_reason'); 
        		        		
        		if(opinion.value.length==0 ){
        			alert("사유는 필수 기재사항입니다.");
        			return false;		
        		}
        		
        		confirm("연차를 신청하겠습니까?");
        			form.submit;
        			return true;
        		}   	
        	
  		
});	

    </script>
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="/indexcommon/header :: header"></header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="text-center">
      	<span th:if="${employee.employee_photo} == null"><img th:src="@{/image/default_photo.png}"></span>
        <span th:if="${employee.employee_photo} != null"><img th:src="@{/assets/upload/photo/} + ${employee.employee_photo}" alt="Profile" class="rounded-circle" width="180px"></span>
      </li>
      
      <li class="text-center">
      	<h4 th:text="${employee.employee_name}"></h4>
		<h6 th:text="${employee.organization}"></h6>
      </li>
    	<hr>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>HOME</span>
        </a>
      </li><!-- End homepage Nav -->
      
      <li class="nav-heading">Pages</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employee/mypage}">
          <i class="bi bi-person"></i>
          <span>마이페이지</span>
        </a>
      </li><!-- End 마이페이지 Page Nav -->
      
      <!-- start 근태관리 nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#working-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-week"></i><span>근태관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="working-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/management/attendance}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 기록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/timerecord}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 전체보기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/dayoff}">
              <i class="bi bi-heart-fill"></i><span>휴무 신청</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/salary}">
              <i class="bi bi-coin"></i><span>급여 정산서</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/contract}">
              <i class="bi bi-file-earmark-spreadsheet"></i><span>근로 계약서</span>
            </a>
          </li>
        </ul>
      </li><!-- 근태관리 End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>메일함</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mailbox/write}">
              <i class="bi bi-pencil-square"></i><span>메일 쓰기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/readAll}">
              <i class="bi bi-envelope-open"></i><span>전체 메일함</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/sentMailbox}">
              <i class="bi bi-arrow-right-circle"></i><span>보낸 메일함</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>프로젝트</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
	    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
	    	<li>
	    		<a th:href="@{/project/create}">
	    			<i class="bi bi-circle"></i><span>프로젝트 생성</span>
	    		</a>
	    	</li>
			<li>
	            <a th:href="@{/project/main}">
					<i class="bi bi-circle"></i><span>프로젝트 메인페이지</span>
	            </a>
			</li>
		</ul>
	 </li><!-- End Forms Nav -->
	 
	  <!-- start 전자결재 nav -->
	   <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/draft/main}">
          <i class="bi bi-journal-text"></i>
          <span>전자결재</span>
        </a>
       </li><!-- End 전자결재 nav -->
       
       <li class="nav-item">
        
      </li><!-- End Blank Page Nav -->
       
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link collapsed" th:href="@{/board/companynotice}">
	          <i class="bi bi-exclamation-triangle-fill"></i><span>전사공지</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/board/programboard}">
	          <i class="bi bi-dropbox"></i><span>사내소프트웨어</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/freeboard/list}">
	          <i class="bi bi-card-list"></i><span>자유게시판</span>
	        </a>
          </li>
        </ul>
      </li><!-- End 게시판 Nav -->

	<hr>

	<li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/logout}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그아웃</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>근태관리</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item active">휴무 신청</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
    	<div class="row align-items-top">
			<div class="col-lg-6">
				<!-- Card with header and footer -->
					<div class="card" id="card">
						<div class="card-body">
							<h3 class="title">휴무 신청서</h3>
							<form id="dayoff" action="dayoff" method="post" enctype="multipart/form-data">
							<table class="changform">
								<tr>
									<th>구분</th>
									<td>
										<select id="confirmed_vacation_type" name="confirmed_vacation_type">
                                			<option value="연차" selected="selected">연차</option>
                            			    <option value="병가">병가</option>
                            			    <option value="군소집 훈련">군소집 훈련</option>
                            			    <option value="특별휴가(관혼상제)">특별휴가(관혼상제)</option>
                            			    <option value="정기휴가">정기휴가</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>휴가 기간</th>
									<td><input type="date" min="2021-05-31" max="2022-12-12" id="dayOffstart" name="confirmed_vacation_date">
										 ~ <input type="date" min="2021-05-31" max="2022-12-12" id="dayoffend" name="confirmed_vacation_Enddate">
										 <input type="button" id="calc" value="계산">
									</td>
								</tr>
								<tr>
									<th>일수</th>
									<td>총 <span id="confirmed_vacation_days" name="confirmed_vacation_days"></span> 일 (C)</td>
								</tr>								
								<tr>
									<th>사유</th>
									<td><textarea id="confirmed_vacation_reason" name="confirmed_vacation_reason" rows="5" cols="50"></textarea></td>
								</tr>
							</table>
							<div class="buttonbox">
								<button type="button" id="checkButton"><i class="bi bi-check-lg"> 확 인</i></button>&nbsp;
								<button type="reset" id="resetButton"><i class="bi bi-x-lg" aria-hidden="true"> 리 셋</i></button>&nbsp;
							</div>
							<table class="changform">
								<tr>
									<th>구분</th>
									<td>내용</td>
									<td>일수</td>
								</tr>
								<tr>
									<th rowspan="3">연차 휴가 일수</th>
									<td>연차부여일수(A)</td>
									<td class="days" id="target1">일</td>
								</tr>
								<tr>
									<td>기 사용한 휴가 일수(B)</td>
									<td class="days" id="target2">일</td>
								</tr>
								<tr>
									<td>잔여 휴가일수(A-B-C)</td>
									<td class="days" id="target3">일</td>
								</tr>	
							</table>
							<div class="buttonbox">
								<button type="submit" id="sendButton"><i class="bi bi-check2-all"> 신 청</i></button>&nbsp;
								<button type="reset" id="resetButton"><i class="bi bi-x-lg" aria-hidden="true"> 리 셋</i></button>&nbsp;
							</div>
						</form>	
					</div>
    			</div>
    		</div>
    	</div>
 
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>