<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.Team4GroupWare.dao.FreeBoardDAO">

	<!-- 작성자 정보읽어오기  -->
	<select id="findEmployee" parameterType="String" resultType="Employee">
	select * 
	from team4_employee	
	where employee_id = #{employee_id} 
		
</select>

	<!-- 게시글 작성  -->

	<insert id="insertFreeBoard" parameterType="FreeBoard">
	insert 
	into 
		team4_free_board (
			free_code
			, company_code
			, category
			, employee_id
			, free_title
			, free_contents
		)
	values (
			'fr'||team4_free_board_seq.nextval
			, #{company_code}
			, #{category}
			, #{employee_id}
			, #{free_title}
			, #{free_contents}
		)
</insert>


	<!-- 게시글 읽기  -->
	<select id="selectFreeBoard" parameterType="String" resultType="FreeBoard">
	select 
		free_code
		, employee_id
		, free_title
		, free_contents
		, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
		, hitcounts
	from 
		team4_free_board
	where 
		free_code = #{free_code}
</select>


	<!-- 조회수 1 증가  -->
	<update id="updateHits" parameterType="String">
	update
		team4_free_board
	set
		hitcounts = hitcounts + 1
	where
		free_code = #{free_code}
</update>


	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="countFreeBoard" parameterType="map" resultType="int">
		select 
		count(*)
	from 
		team4_free_board 
	where company_code = #{company_code}
		<if test="type != null and searchWord != null">
			and
			<if test="type == 'free_title'">
			free_title like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'free_contents'">
			free_contents like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'employee_id'">
			employee_id like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'all'">
			free_title like '%' || #{searchWord} || '%'
			or free_contents like '%' || #{searchWord} || '%'
			or employee_id like '%' || #{searchWord} || '%'
		</if>

		</if>
	</select>


	<!-- 현재 페이지 목록 (검색 필터링 후) -->
	<select id="selectFreeBoardList" parameterType="map" resultType="FreeBoard">
		select 
		free_code
		, company_code
		, employee_id
		, category
		, free_title
		, to_char(inputdate, 'YYYY-MM-DD') inputdate
		, hitcounts
	from 
		team4_free_board 
	where 
		company_code = #{company_code}
		<if test="type != null and searchWord != null">
			and
			<if test="type == 'free_title'">
			free_title like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'free_contents'">
			free_contents like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'employee_id'">
			employee_id like '%' || #{searchWord} || '%'
		</if>
			<if test="type == 'all'">
			free_title like '%' || #{searchWord} || '%'
			or free_contents like '%' || #{searchWord} || '%'
			or employee_id like '%' || #{searchWord} || '%'
		</if>

		</if>
		order by free_code desc
	</select>

	<!-- 글 삭제 -->
	<delete id="deleteFreeBoard" parameterType="FreeBoard">
	delete
	from
		team4_free_board
	where
		free_code = #{free_code}
		and employee_id = #{employee_id}
</delete>

	<!-- 글 수정 -->
	<update id="updateFreeBoard" parameterType="FreeBoard">
	update
		team4_free_board
	set
		free_title = #{free_title}
		, free_contents = #{free_contents}
		, inputdate = sysdate

	where
		free_code = #{free_code}
		and employee_id = #{employee_id}
</update>

	<!-- 리플 저장 -->
	<insert id="insertReply" parameterType="FreeReply">
	insert 
	into 
		team4_free_reply (
			reply_num
			, free_code
			, employee_id
			, reply_contents
		)
	values (
			team4_free_reply_seq.nextval
			, #{free_code}
			, #{employee_id}
			, #{reply_contents}
	)
</insert>

	<!-- 리플 목록 -->
	<select id="selectReplyList" parameterType="String" resultType="FreeReply">
	select
		reply_num
		, free_code
		, employee_id
		, reply_contents
		, to_char(inputdate, 'yy.mm.dd') inputdate
	from
		team4_free_reply
	where
		free_code = #{free_code}
	order by
		reply_num
</select>

	<!-- 리플 삭제 -->
	<delete id="deleteReply" parameterType="FreeReply">
	delete 
	from 
		team4_free_reply 
	where 
		reply_num = #{reply_num} 
		and employee_id = #{employee_id}
</delete>


</mapper>