<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://thymeleaf.org"
				 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KUROWARE - 메일기능</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  <!--   <link th:href="@{/assets/css/mailbox.css}" rel="stylesheet"> -->
  
  <!-- zTree -->
  <link rel="stylesheet" th:href="@{/zTree/zTreeStyle.css}" />
  
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
div.container{
	padding-left : 50px;
}
input[type=text]{
	width : 800px;
}
input[type=text]:hover{
  border-color: #593bdb !important;
}
textarea:hover{
  border-color: #593bdb !important;
}
input[type=button]{
	width : 100px;
}
#email_title, #email_receiver, #email_cc_receiver{
	width : 900px;
}
.sendAndReset{
	margin : 0 auto;
	text-align: center;
}
div.container > h6{
	margin : 20 20 20 20 auto;
}
#sendButton{
	background-color: rgb(255, 0, 0);
	color: white;
	padding: 0.40rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}
#resetButton{
	background-color: gray;
	color: white;
	padding: 0.40rem 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}
div.attechedFile{
	background: white;
	border-color: #593bdb !important;
	
}
</style> 
<body>

  <!-- ======= Header ======= -->
  <header th:replace="/indexcommon/header :: header"></header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="text-center">
      	<span th:if="${employee.employee_photo} == null"><img th:src="@{/image/default_photo.png}"></span>
        <span th:if="${employee.employee_photo} != null"><img th:src="@{/assets/upload/photo/} + ${employee.employee_photo}" alt="Profile" class="rounded-circle" width="180px"></span>
      </li>
      
      <li class="text-center">
      	<h4 th:text="${employee.employee_name}"></h4>
		<h6 th:text="${employee.organization}"></h6>
      </li>
    	<hr>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>HOME</span>
        </a>
      </li><!-- End homepage Nav -->
      
      <li class="nav-heading">Pages</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employee/mypage}">
          <i class="bi bi-person"></i>
          <span>마이페이지</span>
        </a>
      </li><!-- End 마이페이지 Page Nav -->
      
      <!-- start 근태관리 nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#working-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-week"></i><span>근태관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="working-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/management/attendance}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 기록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/timerecord}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 전체보기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/dayoff}">
              <i class="bi bi-heart-fill"></i><span>휴무 신청</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/salary}">
              <i class="bi bi-coin"></i><span>급여 정산서</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/contract}">
              <i class="bi bi-file-earmark-spreadsheet"></i><span>근로 계약서</span>
            </a>
          </li>
        </ul>
      </li><!-- 근태관리 End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>메일함</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mailbox/write}">
              <i class="bi bi-pencil-square"></i><span>메일 쓰기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/readAll}">
              <i class="bi bi-envelope-open"></i><span>전체 메일함</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/sentMailbox}">
              <i class="bi bi-arrow-right-circle"></i><span>보낸 메일함</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>프로젝트</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
	    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
	    	<li>
	    		<a th:href="@{/project/create}">
	    			<i class="bi bi-circle"></i><span>프로젝트 생성</span>
	    		</a>
	    	</li>
			<li>
	            <a th:href="@{/project/main}">
					<i class="bi bi-circle"></i><span>프로젝트 메인페이지</span>
	            </a>
			</li>
		</ul>
	 </li><!-- End Forms Nav -->
	 
	  <!-- start 전자결재 nav -->
	   <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/draft/main}">
          <i class="bi bi-journal-text"></i>
          <span>전자결재</span>
        </a>
       </li><!-- End 전자결재 nav -->
       
       <li class="nav-item">
        
      </li><!-- End Blank Page Nav -->
       
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link collapsed" th:href="@{/board/companynotice}">
	          <i class="bi bi-exclamation-triangle-fill"></i><span>전사공지</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/board/programboard}">
	          <i class="bi bi-dropbox"></i><span>사내소프트웨어</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/freeboard/list}">
	          <i class="bi bi-card-list"></i><span>자유게시판</span>
	        </a>
          </li>
        </ul>
      </li><!-- End 게시판 Nav -->

	<hr>

	<li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/logout}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그아웃</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Mail Box</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Compose</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">      
        <div class="container">
        	<div class="card">
				<div class="card-body" style="height : 850px; ">
				     <form id="write" th:action="@{/mailbox/write}" method="post" enctype="multipart/form-data">
				        <table>
				            <tr id="box" class="form-group">
				                <td>
				                    <input type="text" class="form-control" id="email_receiver" name="email_receiver" placeholder="To:">
				                </td>
								<td>
									<button type="button" class="btn btn-primary" id="selectApproval"
											data-bs-toggle="modal" data-bs-target="#approvalModal"><i class="bi bi-person-plus-fill">&nbsp;주소록</i></button>&nbsp;
								</td>
				            </tr>
				            
				            <tr id="box2" class="form-group">        
				                <td>
				                    <input type="text" class="form-control" name="email_cc_receiver" id="email_cc_receiver" placeholder="CC:">
				                </td>
									<td>
									<button type="button" class="btn btn-primary" id="selectApproval"
											data-bs-toggle="modal" data-bs-target="#approvalModal"><i class="bi bi-person-plus-fill">&nbsp;주소록</i></button>&nbsp;
								</td>
				            </tr>
				            
				            <tr class="form-group">
				                <td>
				                    <input type="text" class="form-control" id="email_title" name="email_title" placeholder="Title : ">
				                </td>
				            </tr>
				            
				            <tr class="form-group">
				                <td>
				                    <textarea class="form-control" id="email_content" name="email_content" placeholder="Enter text.." rows="20" cols="50"> </textarea>
				                </td>
				            </tr>
							<tr>
								<th colspan="2" class="sendAndReset">
								<button type="submit" id="sendButton"><i class="bi bi-send" aria-hidden="true"> 발 송</i></button>&nbsp;
								<button type="reset" id="resetButton"><i class="bi bi-x-lg" aria-hidden="true"> 리 셋</i></button>&nbsp;
								</th>
							</tr>
				        </table>
				    </form>
				    <form class="attechedFile">
				        <table >
				            <tr>
				            	<td><h5 class="mb-4"><i class="bi bi-paperclip"></i>첨부파일</h5></td>
				            </tr>            	
				            <tr>
					            <td>
						           <div class="fallback w-100">
						           <input type="file"  name="upload" class="file-input" data-default-file="" multiple/>
						           </div>
					            </td>
				            </tr>
				        </table>
				    </form>
     			 </div>
 			</div>
    	</div> 
    	
        <!-- 주소록 선택 modal start -->
		<div class="modal fade" id="approvalModal" tabindex="-1" >
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><b>주소록</b></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						
					<!-- 조직도 -->
						<div class="modal-body">
							<div class="row">
							<!-- 첫 번째 단 -->
								<div class="col-4">
									<!-- 조직도 카드 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="test" style="color : black" th:text="|${company.company_name} 조직도|"></b>
										</div>
										<div class="card-body text-dark" style="overflow-x:hidden; width:auto; height:400px;">
										<div class="card-text">
											<ul id="treeDemo" class="ztree"></ul>
										</div>
										</div>
									</div><!-- 조직도 카드 end -->
										
									<!-- 조직도 사원 목록 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="clickOrg" style="color : black" th:text="|${company.company_name} 사원 목록|"></b>
										</div>
										<div class="card-body text-dark" style="overflow-x:hidden; width:auto; height:200px;">
											<div class="card-text">
												<div id="employeeList">
													<ul class="employeeInfo">
													</ul>
												</div>
											</div>
										</div>
									</div><!-- 조직도 사원 목록 end -->
								</div>
								<div class="col-8">
									<h5><b>● 추가한 목록</b></h5>
									<form id="addApprovalForm">
										<table class="table" id="memDiv">
											<thead class="py-8">
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>이메일</th>
												<th>수신형태</th>
											</tr>
											</thead>
											<tbody>
											
											</tbody>
										</table>
									</form>
								</div>
		                    </div>
		                    <div class="modal-footer">
		                      <button type="button" class="btn btn-primary" id="addApprovalButton">추가</button>
		                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
		                    </div>
		                  </div>
		                </div>
		              </div><!-- End Extra Large Modal-->
		            </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  
  <!-- 제이쿼리, 에이젝스 -->
  <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>

  <!-- zTree js : 조직도 라이브러리 입니다. -->
  <script type="text/javascript" th:src="@{/zTree/jquery.ztree.core.min.js}"></script>

  <SCRIPT>
  $(document).ready(function(){
	  /* 페이지가 시작되자마자 조직도 출력 */
	  readOrg();
	  
	  /*메일 보내기 전 확인*/
	  $('#write').on('submit', validation);
	  
	  /* 조직원 사원 목록 클릭시 이벤트 */
	  $('.employeeInfo').on('click', addEmpl);
	  
	  /* 결재선 추가 버튼 : 결재자 정보 결재 페이지에 넘기기 */
	  $('#addApprovalButton').on('click', addApproval);
	  
  });
  
  function validation(){
	  	let receiver = document.getElementById('email_receiver');
	  	let title = document.getElementById('email_title'); 
	  	let content = document.getElementById('email_content'); 
	  	
	  	if(receiver.value.length==0 ){
	  		alert("받는 사람은 필수 입력사항입니다.");
	  		return false;		
	  	}
	  	
	  	if(title.value.length==0 ){
	  		alert("제목은 필수 입력사항입니다.");
	  		return false;		
	  	}
	  	
	  	if(content.value.length==0 ){
	  		alert("내용을 입력해주세요.");
	  		return false;		
	  	}
	  	
	  	alert("메일발송이 완료되었습니다.");
	  	
	}
  
  /* 결재선 테이블 번호 추가를 위한 전역 num 변수 */
  	let num = 0;
  /* 사원 목록 클릭 이벤트*/
	let employee_name;
	let employee_code;
	let employee_email;
	let select;
	var receiverArr = [];
	var ccArr = [];
	
  function addEmpl() {
	  let count = $(this).attr('count');
	  let employee_name = $(this).attr('empname');
	  let employee_code = $(this).attr('empcode');
	  let employee_email = $(this).attr('empemail');
	  let organization_name = $('#organization_name').val();
	  var insertTr = "";
	  
	  if(count == 0) {
		  num += 1;
		  let type = 'type' + num;
		  let selectedType = 'selectedType' + num;
		  $('.selectedEmp').append('<li id=' + employee_name + ' name='+ employee_name +'>'+ employee_name + '</li>');
		  $(this).mouseleave().css('background-color', '#EEF1FA');
		  $(this).attr('count', '1');
		  
		  insertTr += "<tr>";
		  insertTr += "<td>"+ num +"</td>";
		  insertTr += "<td employee_name="+ employee_name +" employee_code=" + employee_code + ">" + employee_name + "</td>";
		  insertTr += "<td employee_email="+ employee_email +" employee_code=" + employee_code + ">" + employee_email + "</td>";
		  insertTr += '<td><select class="form-select selectedType">';
		  insertTr += '<option>수신 형태 선택</option>';
		  insertTr += '<option value="수신">수신</option>';
		  insertTr += '<option value="참조">참조</option></select></td>';
		  insertTr += "</tr>";
		  
		  $('#memDiv > tbody:last').append(insertTr);
		  
	  } else {
	      $(this).mouseenter().css('background-color', 'white');
		  $(this).attr('count', '0');
		  num -= 1;
		  
		  $('#memDiv > tbody > tr:last').remove();
	  }
	  
	  $('.selectedType').on('change', function (){
		  select = $(this).children("option:selected").text();
		  
		  if(select == "수신"){
			  receiverArr.push(employee_email);
		  } else{
			  ccArr.push(employee_email);
		  }
	  });
	  
  }
  
  function addApproval() {
	  console.log(receiverArr.toString());
	  console.log(ccArr.toString());
	  
	  $('#email_receiver').val(receiverArr.toString());
	  $('#email_cc_receiver').val(ccArr.toString());
	  
	  $('#approvalModal').modal('hide');
  }
  
  
  /* 조직도를 읽어오는 함수 | zTree data attributes, refer to the API documentation (treeNode data details) */
  function readOrg() {
	  var zNodes;
	   
	   $.ajax({
		   url : 'readOrg',
		   type : 'post',
		   async:false,
		   success:function(data){
			   zNodes = data;
		   },
		   error:function(e){
			   console.log(e.responseText);
		   }});
	   
	   var zTreeObj;
	   /* zTree configuration information, refer to API documentation (setting details)*/
	   /* setting 내용을 어떻게 수정하냐에 따라 보이는게 다릅니다. api 문서 참고해주세요.(주소 : https://treejs.cn/v3/api.php) */
	   var setting = {
			   data: {
			        simpleData: {
			            enable: true
			        }     
			    },
				   view: {
					   dblClickExpand: false,
					   showIcon: true
				       },
				   callback: {
					   onClick: myOnClick
						}   
	   };
	   
	   zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
	   
  }
   /* 클릭한 조직도의 부모아이디를 받기 위해 선언 : 다른 함수에서도 쓰기 위해 전역으로 선언함 */
   let parent_id;
   let organization;
   
   /* 조직도 내 부서명 클릭시 시 부서명이 서버단으로 넘어가서 db에서 부서명에 속한 사원이 출력됩니다. */
   function myOnClick(event, treeId, treeNode) {
	   parent_id = treeNode.id;
	   organization = treeNode.path;
	   
	   $('#clickOrg').html(treeNode.name + ' 사원목록');

	   /* 선택한거에 따라 신규 부서 생성에 표시되는 내용 */
	   /* path받은 내용을 띄어쓰기로 스플릿 후 변수에 저장 */
	   let str = treeNode.path;
	   let [a, b, c, d, e] = str.split(' ');
	   
	   if(treeNode.level == 1){
		   $('#business_unit').val(treeNode.name);
		   $('#team').val("");
		   $('#department').val("");
		   $('#organization_name').val(c);
	   } else if(treeNode.level == 2){
		   $('#business_unit').val(c);
		   $('#team').val(d);
		   $('#department').val("");
		   $('#organization_name').val(c + ' ' + d);
	   } else if(treeNode.level == 3){
		   $('#business_unit').val(c);
		   $('#team').val(d);
		   $('#department').val(e);
		   $('#organization_name').val(c + ' ' + d + ' ' + e);
	   } else {
		   $('#business_unit').val("");
		   $('#team').val("");
		   $('#department').val("");
		   $('#organization_name').val("");
	   }
	   
	   /* 선택된 조직도와 path가 동일한 사원의 정보 출력 */
	   if(treeNode.id != '0000'){
		   $.ajax({
			   url : 'searchEmployee',
			   type : 'post',
			   data : {organization : organization},
			   dataType : 'json',
			   success:function(data){
				   let emp;
				   
				   emp = '<ul>'
				   $.each(data, function(idx, ob){
					   emp += '<li class="employeeInfo" empname="' + ob.employee_name + '" empcode="'+ ob.employee_code +  '"empemail="' + ob.employee_email + '" count="0">' + ob.employee_name + '</li>';
					});
				   emp += '</ul>'
				   
				   //목록 출력 영역에 내용 삽입
				   $('#employeeList').html(emp);
				
				   $('.employeeInfo').on('click', addEmpl);
			   },
			   error:function(e){
				   console.log(e.responseText);
			   }
			});
	   }
	};
  </SCRIPT>


</body>

</html>