<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>KUROWARE 전자결재</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">

	<!-- zTree -->
	<link rel="stylesheet" th:href="@{/zTree/zTreeStyle.css}" />

	<style>
		th, td {
			vertical-align: middle;
		}
		
		.btn-primary {
		background-color : #606EBF;
		border-color : #606EBF;
		color:white;
		font-size : 16px;
	}
	
	.btn-danger {
		background-color : #CC5749;
		border-color : #CC5749;
		color:white;
		font-size : 16px;
	}
	
	textarea {
    	resize: none;
  	}
	</style>

</head>

<body>

	<!-- ======= Header ======= -->
	<header th:replace="/indexcommon/header :: header"></header><!-- End Header -->
	<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="text-center">
      	<span th:if="${employee.employee_photo} == null"><img th:src="@{/image/default_photo.png}"></span>
        <span th:if="${employee.employee_photo} != null"><img th:src="@{/assets/upload/photo/} + ${employee.employee_photo}" alt="Profile" class="rounded-circle" width="180px"></span>
      </li>
      
      <li class="text-center">
      	<h4 th:text="${employee.employee_name}"></h4>
		<h6 th:text="${employee.organization}"></h6>
      </li>
    	<hr>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>HOME</span>
        </a>
      </li><!-- End homepage Nav -->
      
      <li class="nav-heading">Pages</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employee/mypage}">
          <i class="bi bi-person"></i>
          <span>마이페이지</span>
        </a>
      </li><!-- End 마이페이지 Page Nav -->
      
      <!-- start 근태관리 nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#working-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-week"></i><span>근태관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="working-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/management/attendance}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 기록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/timerecord}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 전체보기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/dayoff}">
              <i class="bi bi-heart-fill"></i><span>휴무 신청</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/salary}">
              <i class="bi bi-coin"></i><span>급여 정산서</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/contract}">
              <i class="bi bi-file-earmark-spreadsheet"></i><span>근로 계약서</span>
            </a>
          </li>
        </ul>
      </li><!-- 근태관리 End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>메일함</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mailbox/write}">
              <i class="bi bi-pencil-square"></i><span>메일 쓰기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/readAll}">
              <i class="bi bi-envelope-open"></i><span>전체 메일함</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/sentMailbox}">
              <i class="bi bi-arrow-right-circle"></i><span>보낸 메일함</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>프로젝트</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
	    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
	    	<li>
	    		<a th:href="@{/project/create}">
	    			<i class="bi bi-circle"></i><span>프로젝트 생성</span>
	    		</a>
	    	</li>
			<li>
	            <a th:href="@{/project/main}">
					<i class="bi bi-circle"></i><span>프로젝트 메인페이지</span>
	            </a>
			</li>
		</ul>
	 </li><!-- End Forms Nav -->
	 
	  <!-- start 전자결재 nav -->
	   <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/draft/main}">
          <i class="bi bi-journal-text"></i>
          <span>전자결재</span>
        </a>
       </li><!-- End 전자결재 nav -->
       
       <li class="nav-item">
        
      </li><!-- End Blank Page Nav -->
       
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link collapsed" th:href="@{/board/companynotice}">
	          <i class="bi bi-exclamation-triangle-fill"></i><span>전사공지</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/board/programboard}">
	          <i class="bi bi-dropbox"></i><span>사내소프트웨어</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/freeboard/list}">
	          <i class="bi bi-card-list"></i><span>자유게시판</span>
	        </a>
          </li>
        </ul>
      </li><!-- End 게시판 Nav -->

	<hr>

	<li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/logout}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그아웃</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>전자결재</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
					<li class="breadcrumb-item active"><a th:href="@{/draft/main}">전자결재</a></li>
					<li class="breadcrumb-item active">기안작성</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="card">
				<div class="card-body" style="height : 1750px;">
					<!-- start 버튼 행 -->
					<div class="row">
						<div class="col-lg-12">
							<input type="button" value="상신" class="btn btn-primary" id="addDraftButton">&nbsp;
							<input type="button" value="의견 추가" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">&nbsp;
							<input type="button" value="임시 저장" class="btn btn-primary" id="saveDraftButton">&nbsp;
							<input type="button" value="작성 취소" class="btn btn-danger" id="returnDraftMain">
						</div>
					</div><!-- end 버튼 행 -->

					<!-- start 기안자 정보 행 -->
					<div class="row">
						<div class="col-lg-4 my-2">
							<h5>● 기안자 정보</h5>
						</div>
						<div class="col-lg-8">
							<h5>● 결재선&nbsp;
								<input type="button" value="조직원검색" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approvalModal">
							</h5>
						</div>
					</div><!-- end 기안자 정보 행 -->

					<!-- start 기안자 정보, 결재선, 기안종류  -->
					<div class="row  my-3">
						<!-- start 기안자 정보 -->
						<div class="col-lg-4">
							<table class="table">
								<tr>
									<th>이름</th>
									<td th:text="${employee.employee_name}"></td>
								</tr>
								<tr>
									<th>부서</th>
									<td id="employee_organization" th:text="${employee.organization}"></td>
								</tr>
							</table>
						</div><!-- end 기안자 정보 -->
						
						<!-- start 전자결재 기안자 -->
						<div class="col-lg-1">
							<table class="table text-center" style="width : 120px;">
								<tr>
									<th><span id="process_type">기안</span><span>자</span></th>
								</tr>
								<tr style="height : 100px;">
									<td th:text="${employee.employee_name}"></td>
								</tr>
							</table>
						</div><!-- end 전자결재 기안자 -->
						<div class="col-lg-1" id="finalApprover"></div>
					</div><!-- end 기안자 정보, 결재선, 기안 선택 -->

					<!-- start 양식함 -->
					<div class="row">
						<hr>
						<div class="col-lg-4">
							<h5>● 기안 선택</h5>
							<div class="input-group mb-3">
								<span class="input-group-text">기안 종류</span>
								<select class="form-select" id="document_form_type">
									<option selected="selected">----------------------기안 종류 선택----------------------</option>
									<optgroup label="지정양식함">
										<option value="회계">회계</option>
										<option value="인사">인사</option>
										<option value="총무">총무</option>
									</optgroup>
									<optgroup label="자유양식함">
										<option value="내양식">내 양식</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-lg-8">
							<h5>● 양식함</h5>
							<div style="background-color : rgb(225, 229, 255); font-weight: bold; overflow-x:hidden; width:auto; height:120px; border-radius: 10px;">
								<div class="docList my-2"></div>
							</div>

						</div>
					</div><!-- end 양식함 -->

					<!-- start 기안내용 -->
					<div class="row">
						<div class="col-lg-12">
							<hr>
							<!-- 기안 시작 -->
							<h5>● 기안내용</h5>
							<table class="table">
								<colgroup>
									<col width="10%">
									<col width="40%">
									<col width="10%">
									<col width="40%">
								</colgroup>
								<tr>
									<th>문서 번호</th>
									<td></td>
									<th>기안일</th>
									<td><input type="date" class="form-control" id="draft_inputdate"></td>
								</tr>
								<tr>
									<th>문서 제목</th>
									<td><input type="text" class="form-control" id="selectedDocName"></td>
									<th>마감일</th>
									<td><input type="date" class="form-control" id="draft_duedate"></td>
								</tr>
							</table>
							<!-- 웹 에디터 시작 -->
							<div class="quill-editor-full">
							</div>
							<hr>
							<!-- 파일 첨부 시작 -->
							<h5>● 파일 첨부</h5>
							<div class="card">
								<div class="card-body">
									<form id="attachedFilesForm">
									<div class="input-group">
										<input class="form-control form-control-user product_files" type="file" name="upload" multiple="multiple">
										<div class="input-group-append">
                                                <button class="btn btn-primary" type="button" id="attachedFilesButton">업로드</button>
                                            </div>
									</div>
									</form>
									<div id="attachedFilesList" style="overflow-x:hidden; width:auto; height:200px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- start 의견 모달 -->
			<div class="modal fade" id="largeModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">● 의견함</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    	<h5><b>● 의견 목록</b></h5>
                    	<div id="opnionList"></div>
                    	<hr>
                    	<textarea id="opinionVal" class="form-control" rows="8"></textarea>
                    	<hr>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                      <button type="button" class="btn btn-primary" id="addOpinion">의견 추가</button>
                    </div>
                  </div>
                </div>
              </div><!-- End 의견 모달-->

			<!-- start 전자결재 결재자 modal -->
			<div class="modal fade" id="approvalModal" tabindex="-1">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><b>결재선 선택</b></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<!-- 조직도 -->
						<div class="modal-body">
							<div class="row">
								<!-- 첫 번째 단 -->
								<div class="col-4">
									<!-- 조직도 카드 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="test" style="color : black"
												th:text="|${company.company_name} 조직도|"></b>
										</div>
										<div class="card-body text-dark"
											style="overflow-x:hidden; width:auto; height:400px;">
											<div class="card-text">
												<ul id="treeDemo" class="ztree"></ul>
											</div>
										</div>
									</div><!-- 조직도 카드 end -->
								</div>
								<div class="col-3">
									<!-- 조직도 사원 목록 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="clickOrg" style="color : black"
												th:text="|${company.company_name} 사원 목록|"></b>
										</div>
										<div class="card-body text-dark"
											style="overflow-x:hidden; width:auto; height:400px;">
											<div class="card-text">
												<div id="employeeList">
													<ul id="employeeInfo">
													</ul>
												</div>
											</div>
										</div>
									</div><!-- 조직도 사원 목록 end -->
								</div>
								<div class="col-5">
									<h5><b>● 결재타입 선택</b></h5>
									<form id="addApprovalForm">
										<table class="table text-center">
											<thead class="py-8">
												<tr>
													<th>결재권한</th>
													<th>결재자</th>
													<th>결재타입</th>											
												</tr>
											</thead>
											<tbody id="selectedEmp">
											</tbody>
										</table>
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="addApprovalButton">결재선 추가</button>
								<button type="button" class="btn btn-danger" id="closeButton"
									data-bs-dismiss="modal">닫기</button>
							</div>
						</div>
					</div>
				</div><!-- End 전자결재 결재자1 modal-->
			</div>
		</section>
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
	<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- 제이쿼리, 에이젝스 -->
	<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>

	<!-- zTree js : 조직도 라이브러리 입니다. -->
	<script type="text/javascript" th:src="@{/zTree/jquery.ztree.core.min.js}"></script>

	<SCRIPT LANGUAGE="JavaScript">
	
		$(document).ready(function () {
			/* 페이지가 시작되자마자 조직도 출력 */
			readOrg();
			addDraftCode();
			
			$('#addDraftButton').on('click', function(){
				let employee_organization = $('#employee_organization').text();
				let draft_title = $('#selectedDocName').val();
				let contents = $('.quill-editor-full').html();
				let draft_contents = encodeURIComponent(contents);
				let draft_inputdate = $('#draft_inputdate').val();
				let draft_duedate = $('#draft_duedate').val();
				let process_type = $('#process_type').text();
				let draft_saved = 0;
				let process_enabled = 0;
				document_form_code = document_form_code;
				
				$.ajax({
					url : 'realAddApp',
					type : 'post',
					success: function (data) {
						if(data == 1){
							console.log('성공');
						} else {
							console.log('실패');
						}
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
				
				$.ajax({
					url: 'addDraft',
					type: 'post',
					data : {employee_organization : employee_organization
							, draft_code : draft_code
							, draft_title : draft_title
							, draft_contents : draft_contents
							, draft_inputdate : draft_inputdate
							, draft_duedate : draft_duedate
							, process_type : process_type
							, draft_saved : draft_saved
							, process_enabled : process_enabled
							, document_form_code : document_form_code},
					success: function (data) {
						if(data == 1){
							alert('성공적으로 상신했습니다.');
							let url = '/team4/draft/main'
							location.replace(url);
						} else {
							alert('상신할 수 없습니다. 기안 내용을 확인해 주세요.');
						}
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
				
			});
			
			$('#addOpinion').on('click', function(){
				let opinionVal = $('#opinionVal').val();
				
				if(opinionVal == null){
					return false;
				}
				
				$.ajax({
					url: 'addOpinion',
					type: 'post',
					data : {opinion_contents : opinionVal, draft_code : draft_code},
					success: function (data) {
						if(data == 1){
							console.log('저장 성공');
							showOp();
						} else {
							console.log('저장 실패');
						}
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
			});
			
			$('#returnDraftMain').on('click', function(){
				if(confirm('작성을 취소하시겠습니까?')){
					let url = '/team4/draft/main'
					location.replace(url);
				} else {
					alert('작성 페이지로 돌아갑니다.');
				}
			});
						
			/* 모달 속 결재자 추가를 누르면 실행 될 함수 => view단에 결재자 뿌리기 */
			$('#addApprovalButton').on('click', readApp);
			
			$('#attachedFilesButton').on('click', function(){
				var formData = new FormData();
				
				var inputFile = $("input[name='upload']");
				
				var files = inputFile[0].files;
				
				console.log(files);
				
				for(var i = 0; i < files.length; i++){
					formData.append("upload", files[i]);
				}
				
				$.ajax({
					url: 'uploadFile',
					type: 'post',
					data : formData,
					processData : false,
					contentType : false,
					dataType : 'json',
					success: function (data) {
						console.log(data);
						
						let s;
						s = '<ul>';
						$.each(data, function(idx, ob){
							s += '<li>' + ob.attached_file_origin_name + '</li>';
						});
						s += '</ul>';
						
						$('#attachedFilesList').html(s); 
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
			});
			let document_form_code;
			$('#document_form_type').on('change', function() {
				let document_form_type = $("#document_form_type option:selected").val();
				
				$.ajax({
					url: 'selectDoc',
					type: 'post',
					data : {document_form_type : document_form_type},
					dataType : 'json',
					success: function (data) {
						console.log(data);
						let s;
						s = '<ul>';
						$.each(data, function(idx, ob){
							document_form_code = ob.document_form_code;
							s += '<li class="list" id=' + ob.document_form_code + ' onclick="javascript:showDoc(id)">' + ob.document_form_title + '</li>';
						});
						s += '</ul>';
						
						$('.docList').html(s);
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
			});
		});
		
		function showOp() {
			$.ajax({
				url: 'readOpinion',
				type: 'post',
				data : {draft_code : draft_code},
				dataType : 'json',
				success: function (data) {
					let s;
					
					s = '<table class="table text-center">';
					s += '<tr>';
					s += '<th>작성자</th><th>내용</th><th>작성일시</th>';
					s += '</tr>';
					$.each(data, function(idx, ob){
						s += '<tr>';
						s += '<td>' + ob.opinion_writer_name + '</td>';
						s += '<td>' + ob.opinion_contents + '</td>';
						s += '<td>' + ob.opinion_date + '</td>';
						s += '</tr>'
					});
					s += '</table>'
					
					$('#opnionList').html(s);
				},
				error: function (e) {
					console.log(e.responseText);
				}
				
			});	
		}
		
		function showDoc(code) {
			$.ajax({
				url: 'showDoc',
				type: 'post',
				data : {document_form_code : code},
				success: function (data) {
					$('#selectedDocName').val(data.document_form_title);
					
					let contents = decodeURIComponent(data.document_form_contents);
					let replaced_str = contents.replace('<input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL">', '');
					replaced_str = contents.replace('<input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL" style="user-select: auto;">', '');
					$('.quill-editor-full').html(replaced_str);
					
					let s;
					if(data.final_approver_name != null){
						s = '<table class="table text-center" style="width : 120px;">';
						s += '<tr><th>전결자</th></tr>';
						s += '<tr style="height : 100px;">';
						s += '<td>' + data.final_approver_name + '</td>';
						s += '</tr></table>'
					}
					
					$('#finalApprover').html(s);
				},
				error: function (e) {
					console.log(e.responseText);
				}				
			})
		}
		
		/* 다른곳에서 사용하기 위해 선언하는 기안 예비 번호 */
		let draft_code;

		/* 페이지 들어오자마자 기안 예비 번호 생성 */
		function addDraftCode() {
			$.ajax({
				url: 'addDraftCode',
				type: 'post',
				dataType: 'text',
				success: function (data) {
					draft_code = data;
					console.log(draft_code);
				},
				error: function () {
					console.log('저장 실패');
				}
			});
		}
		
/*---------------------------------------------------------------조직도 관련---------------------------------------------------------------------*/

		/* 조직도를 읽어오는 함수 | zTree data attributes, refer to the API documentation (treeNode data details) */
		function readOrg() {
			var zNodes;

			$.ajax({
				url: 'readOrg',
				type: 'post',
				async: false,
				success: function (data) {
					zNodes = data;
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});

			var zTreeObj;
			/* zTree configuration information, refer to API documentation (setting details)*/
			/* setting 내용을 어떻게 수정하냐에 따라 보이는게 다릅니다. api 문서 참고해주세요.(주소 : https://treejs.cn/v3/api.php) */
			var setting = {
				data: {
					simpleData: {
						enable: true
					}
				},
				view: {
					dblClickExpand: false,
					showIcon: true
				},
				callback: {
					onClick: myOnClick
				}
			};

			zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);

		}
		/* 클릭한 조직도의 부모아이디를 받기 위해 선언 : 다른 함수에서도 쓰기 위해 전역으로 선언함 */
		let parent_id;
		let organization;

		/* 조직도 내 부서명 클릭시 시 부서명이 서버단으로 넘어가서 db에서 부서명에 속한 사원이 출력됩니다. */
		function myOnClick(event, treeId, treeNode) {
			parent_id = treeNode.id;
			organization = treeNode.path;

			$('#clickOrg').html(treeNode.name + ' 사원목록');

			/* 선택한거에 따라 신규 부서 생성에 표시되는 내용 */
			/* path받은 내용을 띄어쓰기로 스플릿 후 변수에 저장 */
			let str = treeNode.path;
			let [a, b, c, d, e] = str.split(' ');

			if (treeNode.level == 1) {
				$('#business_unit').val(treeNode.name);
				$('#team').val("");
				$('#department').val("");
				$('#organization_name').val(c);
			} else if (treeNode.level == 2) {
				$('#business_unit').val(c);
				$('#team').val(d);
				$('#department').val("");
				$('#organization_name').val(c + ' ' + d);
			} else if (treeNode.level == 3) {
				$('#business_unit').val(c);
				$('#team').val(d);
				$('#department').val(e);
				$('#organization_name').val(c + ' ' + d + ' ' + e);
			} else {
				$('#business_unit').val("");
				$('#team').val("");
				$('#department').val("");
				$('#organization_name').val("");
			}

			/* 선택된 조직도와 path가 동일한 사원의 정보 출력 */
			if (treeNode.id != '0000') {
				$.ajax({
					url: 'searchEmployee',
					type: 'post',
					data: { organization: organization },
					dataType: 'json',
					success: function (data) {
						let emp;

						emp = '<ul>'
						$.each(data, function (idx, ob) {
							emp += '<li class="employeeInfo" id="selected' + ob.employee_code + '" empname="' + ob.employee_name + '" empcode="' + ob.employee_code + '" count="0" onclick="javascript:addEmpl(id)">' + ob.employee_name + '</li>';
						});
						emp += '</ul>'

						//목록 출력 영역에 내용 삽입
						$('#employeeList').html(emp);
 						
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
			}
		};
		/* 사원 목록 클릭 이벤트*/
		let num = 1;
		let employee_name;
		let employee_code;
		let select;
		var appObj = {};
		var appObjArr = [];
		
		function addEmpl(id) {
			let count = $('#'+ id).attr('count');
			employee_name = $('#'+ id).attr('empname');
			employee_code = $('#'+ id).attr('empcode');
			
			if (count == 0) {
				$('#'+ id).mouseleave().css('background-color', '#EEF1FA');
				$('#'+ id).attr('count', '1');
				
				let insert = '<tr id=' + employee_name + '>';
				insert += '<td>' + num + '</td>';
				insert += '<td>' + employee_name + '</td>';
				insert += '<td><select class="form-select selectedType">';
				insert += '<option>--결재 타입 선택--</option>';
				insert += '<option value="결재">결재</option>';
				insert += '<option value="참조">참조</option>';
				insert += '<option value="전결">전결</option></select></td></tr>';
				
				$('#selectedEmp').append(insert);
				num += 1;
				
			} else {
				$('#'+ id).mouseenter().css('background-color', 'white');
				$('#'+ id).attr('count', '0');
				document.getElementById(employee_name).remove();
				appObjArr.pop();
				num -= 1;
			}
			
			$('.selectedType').on('change', addArr);
		}
		
		function addArr() {
			select = $(this).children("option:selected").text();
			console.log(employee_name);
			console.log(employee_code);
			console.log(select);
			console.log(num);
			
			appObj.name = employee_name;
			appObj.code = employee_code;
			appObj.select = select;
			appObj.num = num;
			appObjArr.push(appObj);
			appObj = {};
			
			$.ajax({
				url: 'addApproverList',
				type: 'post',
				data: { approver_code : employee_code, approver_name : employee_name, process_type : select, process_turn_code : num },
				success: function (data) {
					console.log(data);
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});
			
		}
		
		function readApp(){
			let insertTr;
			let myClass;
			
			$(appObjArr).each(function(index, item){
				myClass = "col-lg-1 text-center";
				insertTr = "<table class='table' style='width : 120px;'>";
				insertTr += "<tr style='height : 40.5px;'>";
				insertTr += "<th>" + item.select + '자' + "</th>";
				insertTr += "</tr>";
				insertTr += "<tr style='height : 100px;'>";
				insertTr += "<td>" + item.name + "</td>";
				insertTr += "</tr>";
				insertTr += "</table><p></p>";
				let div = $("<div>" + insertTr + "</div>").addClass(myClass);
				$("#finalApprover").before(div);
			});
			
			$('#approvalModal').modal('hide');
		}
	</SCRIPT>
</body>

</html>