<!DOCTYPE html>
<html lang="ko"  
	  xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KUROWARE Document Form Write PAGE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  
  <!-- data table -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
  <!-- zTree -->
  <link rel="stylesheet" th:href="@{/zTree/zTreeStyle.css}" />
  
  <style>
	th, td, b {
		vertical-align: middle;
	}
	
	.btn-primary {
		background-color : #606EBF;
		border-color : #606EBF;
		color:white;
		font-size : 16px;
	}
	
	.btn-danger {
		background-color : #CC5749;
		border-color : #CC5749;
		color:white;
		font-size : 16px;
	}
	
	#recommend {
		margin-top: 1px;
		position: absolute;
		background: white;
		padding: 0 10px;
	}
	
	.item {
		height: 1.8em;
		width: 220px;
		outline: none;
	}
	
	.item:hover {
		color: #9baec8;
	}
	.text {
		font-weight: bold;
	}
  </style>
	
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="/indexcommon/header :: header"></header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="text-center">
      	<span th:if="${employee.employee_photo} == null"><img th:src="@{/image/default_photo.png}"></span>
        <span th:if="${employee.employee_photo} != null"><img th:src="@{/assets/upload/photo/} + ${employee.employee_photo}" alt="Profile" class="rounded-circle" width="180px"></span>
      </li>
      
      <li class="text-center">
      	<h4 th:text="${employee.employee_name}"></h4>
		<h6 th:text="${employee.organization}"></h6>
      </li>
    	<hr>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>HOME</span>
        </a>
      </li><!-- End homepage Nav -->
      
      <li class="nav-heading">Pages</li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employee/mypage}">
          <i class="bi bi-person"></i>
          <span>마이페이지</span>
        </a>
      </li><!-- End 마이페이지 Page Nav -->
      
      <!-- start 근태관리 nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#working-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-week"></i><span>근태관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="working-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/management/attendance}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 기록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/timerecord}">
              <i class="bi bi-clock"></i><span>출 · 퇴근 전체보기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/dayoff}">
              <i class="bi bi-heart-fill"></i><span>휴무 신청</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/salary}">
              <i class="bi bi-coin"></i><span>급여 정산서</span>
            </a>
          </li>
          <li>
            <a th:href="@{/management/contract}">
              <i class="bi bi-file-earmark-spreadsheet"></i><span>근로 계약서</span>
            </a>
          </li>
        </ul>
      </li><!-- 근태관리 End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>메일함</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mailbox/write}">
              <i class="bi bi-pencil-square"></i><span>메일 쓰기</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/readAll}">
              <i class="bi bi-envelope-open"></i><span>전체 메일함</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mailbox/sentMailbox}">
              <i class="bi bi-arrow-right-circle"></i><span>보낸 메일함</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>프로젝트</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
	    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
	    	<li>
	    		<a th:href="@{/project/create}">
	    			<i class="bi bi-circle"></i><span>프로젝트 생성</span>
	    		</a>
	    	</li>
			<li>
	            <a th:href="@{/project/main}">
					<i class="bi bi-circle"></i><span>프로젝트 메인페이지</span>
	            </a>
			</li>
		</ul>
	 </li><!-- End Forms Nav -->
	 
	  <!-- start 전자결재 nav -->
	   <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/draft/main}">
          <i class="bi bi-journal-text"></i>
          <span>전자결재</span>
        </a>
       </li><!-- End 전자결재 nav -->
       
       <li class="nav-item">
        
      </li><!-- End Blank Page Nav -->
       
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="nav-link collapsed" th:href="@{/board/companynotice}">
	          <i class="bi bi-exclamation-triangle-fill"></i><span>전사공지</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/board/programboard}">
	          <i class="bi bi-dropbox"></i><span>사내소프트웨어</span>
	        </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/freeboard/list}">
	          <i class="bi bi-card-list"></i><span>자유게시판</span>
	        </a>
          </li>
        </ul>
      </li><!-- End 게시판 Nav -->

	<hr>

	<li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/logout}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그아웃</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>전자결재</h1>
		    <nav>
		        <ol class="breadcrumb">
		          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
		          <li class="breadcrumb-item active"><a th:href="@{/draft/main}">전자결재</a></li>
		          <li class="breadcrumb-item active">양식 작성</li>
		        </ol>
		    </nav>
		</div><!-- End Page Title -->
		
		<section class="section dashboard">
			<div class="card">
				<div class="card-body" style="height : 850px;">
					<!-- start 버튼 행 -->
						<div class="d-flex align-items-center align-self-center justify-content-between">
							<h4><b>● 양식 작성</b></h4>
							<div>
								<input id="addDoc" type="button" value="생성" class="btn btn-primary">&nbsp;
								<a th:href="@{/draft/main}"><input id="cancelDoc" type="button" value="작성 취소" class="btn btn-danger"></a>
							</div>
						</div>
					<!-- start 기안내용 -->
					<hr>
					<div class="row">
						<div class="col-lg-12">
							<!-- 기안 시작 -->
							<form id="documentForm">
								<div class="row">
									<div class="col-lg-2">
										<div class="input-group mb-3 text-center">
					                      <span class="input-group-text" id="basic-addon1">양식종류</span>
					                      <input value="내양식" type="text" class="form-control" readonly="readonly" id="document_form_type">
					                    </div>
									</div>
									<div class="col-lg-6">
										<div class="input-group mb-3 text-center">
					                      <span class="input-group-text" id="basic-addon1">양식제목</span>
					                      <input type="text" id="document_form_name" name="document_form_name" class="form-control">
					                    </div>
									</div>
									<div class="col-lg-4">
										<div class="input-group mb-3 text-center">
					                      <span class="input-group-text" id="basic-addon1">전결자</span>
					                      <input type="text" id="final_approver_name" name="final_approver_name" class="form-control" readonly="readonly">
					                      <input type="button" value="조직원검색" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approvalModal">
					                    </div>
									</div>
								</div>
								<!-- 웹 에디터 시작 -->
								<div id="document_form_contents" name="document_form_contents" class="quill-editor-full" style="height : 600px;">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<!-- start 전자결재 결재자 modal -->
			<div class="modal fade" id="approvalModal" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><b>결재선 선택</b></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<!-- 조직도 -->
						<div class="modal-body">
							<div class="row">
								<!-- 첫 번째 단 -->
								<div class="col-6">
									<!-- 조직도 카드 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="test" style="color : black"
												th:text="|${company.company_name} 조직도|"></b>
										</div>
										<div class="card-body text-dark"
											style="overflow-x:hidden; width:auto; height:400px;">
											<div class="card-text">
												<ul id="treeDemo" class="ztree"></ul>
											</div>
										</div>
									</div><!-- 조직도 카드 end -->
								</div>
								<div class="col-6">
									<!-- 조직도 사원 목록 start -->
									<div class="card border-dark mb-3">
										<div class="card-header text-center">
											<b id="clickOrg" style="color : black"
												th:text="|${company.company_name} 사원 목록|"></b>
										</div>
										<div class="card-body text-dark"
											style="overflow-x:hidden; width:auto; height:400px;">
											<div class="card-text">
												<div id="employeeList">
													<ul id="employeeInfo">
													</ul>
												</div>
											</div>
										</div>
									</div><!-- 조직도 사원 목록 end -->
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="addApprovalButton">결재선 추가</button>
								<button type="button" class="btn btn-danger" id="closeButton"
									data-bs-dismiss="modal">닫기</button>
							</div>
						</div>
					</div>
				</div><!-- End 전자결재 결재자1 modal-->
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
	<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- 제이쿼리, 에이젝스 -->
	<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>

	<!-- zTree js : 조직도 라이브러리 입니다. -->
	<script type="text/javascript" th:src="@{/zTree/jquery.ztree.core.min.js}"></script>
	
	<script>
	$(document).ready(function() {
		readOrg();
		
		$('#addDoc').on('click', addDoc);
		
		$('#addApprovalButton').on('click', addApp);
	});
	
	/* 조직도를 읽어오는 함수 | zTree data attributes, refer to the API documentation (treeNode data details) */
	function readOrg() {
		var zNodes;

		$.ajax({
			url: 'readOrg',
			type: 'post',
			async: false,
			success: function (data) {
				zNodes = data;
			},
			error: function (e) {
				console.log(e.responseText);
			}
		});

		var zTreeObj;
		/* zTree configuration information, refer to API documentation (setting details)*/
		/* setting 내용을 어떻게 수정하냐에 따라 보이는게 다릅니다. api 문서 참고해주세요.(주소 : https://treejs.cn/v3/api.php) */
		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			view: {
				dblClickExpand: false,
				showIcon: true
			},
			callback: {
				onClick: myOnClick
			}
		};

		zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);

	}
	/* 클릭한 조직도의 부모아이디를 받기 위해 선언 : 다른 함수에서도 쓰기 위해 전역으로 선언함 */
	let parent_id;
	let organization;

	/* 조직도 내 부서명 클릭시 시 부서명이 서버단으로 넘어가서 db에서 부서명에 속한 사원이 출력됩니다. */
	function myOnClick(event, treeId, treeNode) {
		parent_id = treeNode.id;
		organization = treeNode.path;

		$('#clickOrg').html(treeNode.name + ' 사원목록');

		/* 선택한거에 따라 신규 부서 생성에 표시되는 내용 */
		/* path받은 내용을 띄어쓰기로 스플릿 후 변수에 저장 */
		let str = treeNode.path;
		let [a, b, c, d, e] = str.split(' ');

		if (treeNode.level == 1) {
			$('#business_unit').val(treeNode.name);
			$('#team').val("");
			$('#department').val("");
			$('#organization_name').val(c);
		} else if (treeNode.level == 2) {
			$('#business_unit').val(c);
			$('#team').val(d);
			$('#department').val("");
			$('#organization_name').val(c + ' ' + d);
		} else if (treeNode.level == 3) {
			$('#business_unit').val(c);
			$('#team').val(d);
			$('#department').val(e);
			$('#organization_name').val(c + ' ' + d + ' ' + e);
		} else {
			$('#business_unit').val("");
			$('#team').val("");
			$('#department').val("");
			$('#organization_name').val("");
		}

		/* 선택된 조직도와 path가 동일한 사원의 정보 출력 */
		if (treeNode.id != '0000') {
			$.ajax({
				url: 'searchEmployee',
				type: 'post',
				data: { organization: organization },
				dataType: 'json',
				success: function (data) {
					let emp;

					emp = '<ul>'
					$.each(data, function (idx, ob) {
						emp += '<li class="employeeInfo" id="selected' + ob.employee_code + '" empname="' + ob.employee_name + '" empcode="' + ob.employee_code + '" empmail="' + ob.employee_email + '" count="0" onclick="javascript:addEmpl(id)">' + ob.employee_name + '(' + ob.employee_email + ')' + '</li>';
					});
					emp += '</ul>'

					//목록 출력 영역에 내용 삽입
					$('#employeeList').html(emp);
						
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});
		}
	};
	/* 사원 목록 클릭 이벤트*/
	let employee_name;
	let employee_code;
	let employee_email;
	
	function addEmpl(id) {
		let count = $('#'+ id).attr('count');
		employee_name = $('#'+ id).attr('empname');
		employee_code = $('#'+ id).attr('empcode');
		employee_email = $('#'+ id).attr('empmail');
		
		if (count == 0) {
			$('#'+ id).mouseleave().css('background-color', '#EEF1FA');
			$('#'+ id).attr('count', '1');
			
		} else {
			$('#'+ id).mouseenter().css('background-color', 'white');
			$('#'+ id).attr('count', '0');
			document.getElementById(employee_name).remove();
		}
		
	}
	
	function addApp(){
		console.log(employee_name);
		console.log(employee_code);
		console.log(employee_email);
		
		$('#final_approver_name').val(employee_name + '(' + employee_email + ')');
		
		$('#approvalModal').modal('hide');
	}
	
	function addDoc(){
		let document_form_type = $('#document_form_type').val();
		let document_form_name = $('#document_form_name').val();
		let contents = $('.quill-editor-full').html();
		let document_form_contents = encodeURIComponent(contents);
		let final_approver_name = employee_name;
		let final_approver_code = employee_code;
		let final_approver_email = employee_email;
		
		if(document_form_type == null || document_form_type == ''){
			alert("양식 종류를 선택해주세요.");
			return false;
		}
		
		if(document_form_name == null || document_form_type == ''){
			alert("양식 이름을 입력해주세요.");
			return false;
		}
		
		if(final_approver_name == null || final_approver_name == ''){
			alert("전결자를 선택해주세요.");
			return false;
		}
		
		if(document_form_contents == null || document_form_contents == ''){
			alert("양식 내용을 입력해주세요.");
			return false;
		}
		
		$.ajax({
			url : 'addDocForm',
			type : "post",
			data : {document_form_type : document_form_type, document_form_name : document_form_name, final_approver_code : final_approver_code
					, final_approver_name : final_approver_name, final_approver_email : final_approver_email, document_form_contents : document_form_contents},
			success : function () {
				alert('저장되었습니다.');
				let url = '/team4/draft/main'
				location.replace(url);
			},
			error : function () {
				alert('저장 실패');
			}
		});
	}
	</script>

</body>

</html>