<!DOCTYPE html>
<html lang="ko"  
	  xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KUROWARE ADMIN PAGE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  
   <!-- data table -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
  <style>
  	hr#hr1 {
  		margin : 0;
  		padding : 0;
  	}
  	
  </style>

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <!-- ======= Header ======= -->
  <header th:replace="/admincommon/header :: header"></header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside th:replace="/admincommon/aside :: aside"></aside><!-- End Sidebar-->
	
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>관리자 전자결재</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
          <li class="breadcrumb-item active">Admin page</li>
          <li class="breadcrumb-item active">관리자 전자결재</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
		<section class="section dashboard">
			 <div class="container-fluid">
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
					</div>
					<div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#home" role="tab" aria-controls="account" aria-selected="false">
							<i class="fa fa-home text-center mr-1"></i> 
							<h5><b>HOME</b></h5>
						</a>
						<div class="text-center"><h5 class="mt-3 m-b-6"><b>결재함</b></h5></div><hr id="hr1">
						<a class="nav-link" id="logo-tab" data-toggle="pill" href="#companylogo" role="tab" aria-controls="logo" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							결재 대기함
						</a>
						<a class="nav-link" id="logo-tab" data-toggle="pill" href="#companylogo" role="tab" aria-controls="logo" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							결재 완료함
						</a>
						<a class="nav-link" id="logo-tab" data-toggle="pill" href="#companylogo" role="tab" aria-controls="logo" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							결재 반려함
						</a>
						<a class="nav-link" id="logo-tab" data-toggle="pill" href="#companylogo" role="tab" aria-controls="logo" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							결재 참조함
						</a>
						<div class="text-center"><h5 class="mt-3 m-b-6"><b>양식함</b></h5></div><hr id="hr1">
						<a class="nav-link" id="logo-tab" data-toggle="pill" href="#admindoc" role="tab" aria-controls="logo" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							양식 목록
						</a>
						<div class="py-5"></div>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="account-tab">
						<h5>● 결재함</h5>
						<table id="datatable" class="table datatable">
							<thead>
								<tr>
									<th>결재 번호</th>
									<th>제목</th>
									<th>결재자</th>
									<th>작성일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>ADM2586</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청</td>
									<td>김지은</td>
									<td>2022/10/06 11:21:38</td>
								</tr>
								<tr>
									<td>ADM2551</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청</td>
									<td>황정우</td>
									<td>2022/10/06 11:10:41</td>
								</tr>
								<tr>
									<td>ADM2514</td>
									<td>[권한 신청] HR 권한 설정 요청</td>
									<td>홍윤혜</td>
									<td>2022/10/06 10:10:35</td>
								</tr>
								<tr>
									<td>ADM2528</td>
									<td>[권한 신청] FI 권한 설정 요청</td>
									<td>고경섭</td>
									<td>2022/10/06 09:00:01</td>
								</tr>
								<tr>
									<td>ADM2527</td>
									<td>[데이터 삭제 요청]거래처 데이터 삭제 요청</td>
									<td>김재현</td>
									<td>2022/10/05 20:04:28</td>
								</tr>
								<tr>
									<td>ADM2524</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청</td>
									<td>안예현</td>
									<td>2022/10/05 15:23:52</td>
								</tr>
								<tr>
									<td>ADM2507</td>
									<td>[데이터 삭제 요청]거래처 데이터 삭제 요청</td>
									<td>김정수</td>
									<td>2022/10/05 11:37:11</td>
								</tr>
								<tr>
									<td>ADM2494</td>
									<td>[아이디 변경 요청]아이디 변경 요청</td>
									<td>송원묵</td>
									<td>2022/10/04 18:12:28</td>
								</tr>
								<tr>
									<td>ADM2488</td>
									<td>[아이디 변경 요청]아이디 변경 요청</td>
									<td>이승범</td>
									<td>2022/10/04 13:42:16</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
								<tr>
									<td>ADM2485</td>
									<td>[조직도 생성 요청]이하의 조직도 생성을 요청합니다.</td>
									<td>배창현</td>
									<td>2022/10/03 12:18:24</td>
								</tr>
							</tbody>
						</table>
						
						<hr>
							      	
						<h5>● 진행 상황</h5>
							<table class="table">
								<thead>
									<tr>
										<th>결재 순서</th>
										<th>결재자</th>
										<th>결재 상태</th>
										<th>결재 시간</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2</td>
										<td>김지은</td>
										<td>결재중</td>
										<td>2022.09.25 20:51:43</td>
									</tr>
									<tr>
										<td>1</td>
										<td>고경섭</td>
										<td>기안</td>
										<td>2022.09.25 11:25:39</td>
									</tr>
								</tbody>
							</table>
					</div>
					
					<!-- 회사 로고 변경 page start -->
					<div class="tab-pane fade" id="companylogo" role="tabpanel" aria-labelledby="logo-tab">
						<h3 class="mb-4">회사 로고 변경</h3>
						
						<form method="post" id="updateLogoForm" enctype="multipart/form-data">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<input class="form-control form-control-user" type="file" size="30"
											   name="upload" id="product_image" onchange="setThumbnail(event);">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 text-center">
									<div class="form-group">
									  	<label class="mb-3">기존 회사 로고</label>
									  	<div class="img-circle2 text-center mb-3">
										  	<img th:src="@{/image/catIcon.png}" alt="기본 로고">
										</div>
									</div>
								</div>
								<div class="col-lg-6 text-center">
									<div class="form-group">
									  	<label id="label-bold" class="mb-3">변경 회사 로고</label>
									  	<div class="img-circle2 text-center mb-3">
											<div id="image_container"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" id="updateLogo">Update</button>&nbsp;
								<button class="btn btn-dark">Cancel</button>
							</div>
						</form>
					</div>
					
					<!-- 양식함 page start -->
					<div class="tab-pane fade" id="admindoc" role="tabpanel" aria-labelledby="admindoc-tab">
					
						<div class="d-flex align-items-center align-self-center justify-content-between mb-3">
                            <h3 class="my-3">양식함</h3>
						<a th:href="@{/admin/writedoc}" class="btn btn-info btn-lg btn-block" 
						   style="background-color : #606EBF; border-color : #606EBF; color:white; font-size : 16px;">양식작성</a>
                        </div>
                        <hr>
                        
                        <table class="table">
                        	<tr>
					 			<th>양식코드</th>
					 			<th>양식종류</th>
					 			<th>제목</th>
					 		</tr>
					 		<tr th:each="list : ${docform}">
					 			<td th:text="${list.document_form_code}"></td>
					 			<td th:text="${list.document_form_type}" ></td>
					 			<td><a id="home" th:text="${list.document_form_title}" th:href="@{/admin/readDoc(document_form_code=${list.document_form_code})}"></a></td>
					 		</tr>
                        </table>
					</div>
				</div>
			</div>
		</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</main> 	
	
	<!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  
  <!-- 제이쿼리, 에이젝스 -->
  <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

  <script>
	$(document).ready(function() {
		$('#dataTable').DataTable();
	});
  </script>
</body>
</html>